@using MasciApps_Ass2.Models
@model IEnumerable<Item>

@{
    ViewBag.Title = "Index";
}
<div class="interior-page" id="menu-page">
    <div class="items">
        <div class="row beverages">
            <h2>Beverages</h2>
            <div class="container">
                @foreach (var item in Model.Where(t => t.ItemType.Name == "Beverage"))
                {
                    <div class="item beverage">
                        <div class="image">
                            <div class="label">@item.ItemLabel.Name</div>
                            <img src="@item.ImageUrl" alt="@item.Name" title="@item.Name" />
                        </div>
                        <div class="name">@item.Name</div>
                        <div class="desc">@item.ShortDescription</div>
                    </div>
                }
            </div>
        </div>

        <div class="row appetizers">
            <h2>Appetizers</h2>
            <div class="container">
                @foreach (var item in Model.Where(t => t.ItemType.Name == "Appetizer"))
                {
                    <div class="item appetizer">
                        <div class="image">
                            <div class="label">@item.ItemLabel.Name</div>
                            <img src="@item.ImageUrl" alt="@item.Name" title="@item.Name" />
                        </div>
                        <div class="name">@item.Name</div>
                        <div class="desc">@item.ShortDescription</div>
                    </div>
                }
            </div>
        </div>

        <div class="row maincourses">
            <h2>Main Courses</h2>
            <div class="container">
                @foreach (var item in Model.Where(t => t.ItemType.Name == "Main Course"))
                {
                    <div class="item maincourse">
                        <div class="image">
                            <div class="label">@item.ItemLabel.Name</div>
                            <img src="@item.ImageUrl" alt="@item.Name" title="@item.Name" />
                        </div>
                        <div class="name">@item.Name</div>
                        <div class="desc">@item.ShortDescription</div>
                    </div>
                }
            </div>
        </div>

        <div class="row desserts">
            <h2>Desserts</h2>
            <div class="container">
                @foreach (var item in Model.Where(t => t.ItemType.Name == "Dessert"))
                {
                    <div class="item dessert">
                        <div class="image">
                            <div class="label">@item.ItemLabel.Name</div>
                            <img src="@item.ImageUrl" alt="@item.Name" title="@item.Name" />
                        </div>
                        <div class="name">@item.Name</div>
                        <div class="desc">@item.ShortDescription</div>
                    </div>
                }
            </div>
        </div>
    </div><!-- items -->
</div><!-- interior-page -->